#exhibition-viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  display: flex;
}

#exhibition-viewport.hidden {
  display: none;
}

.main-viewport-row {
  flex-direction: row;
}

.main-viewport-column {
  flex-direction: column;
}

.viewport-line {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.viewport-row {
  flex-direction: row;
}

.viewport-column {
  flex-direction: column;
}

.viewport {
  flex: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
  box-sizing: border-box;
}

.viewport-media-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewport-media-container img,
.viewport-media-container video
{
  max-width: 100%;
  max-height: 100%;
}

.viewport-highlighted {
  border: solid medium var(--side-strong);
  border-radius: 5px;
}

.viewport-locked {
  background-color: var(--side-weak);
}

.caption-box {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 20%;
  padding-right: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.caption-box * {
  text-align: end;
  color: var(--text);
  font: 1em/.9 sans-serif;
  --caption-shadow: var(--main-weak);
  text-shadow:
    0 0 .1em var(--caption-shadow),
    0 0 .2em var(--caption-shadow),
    0 0 .3em var(--caption-shadow),
    0 0 .4em var(--caption-shadow),
    0 0 .5em var(--caption-shadow);
}

.title-box {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 75%;
  padding-left: 1em;
  padding-bottom: 1em;
  font: bold 1.2em/1 sans-serif;
}

.viewport a:link,
.viewport a:visited {
  text-decoration: none;
  color: var(--main-strong);
  --link-shadow: var(--main-weak);
  text-shadow:
    0 0 .1em var(--link-shadow),
    0 0 .2em var(--link-shadow),
    0 0 .3em var(--link-shadow),
    0 0 .4em var(--link-shadow),
    0 0 .5em var(--link-shadow);
}

.viewport a:hover {
  text-decoration: none;
  color: var(--text);
  --hover-link-shadow: var(--main-weak);
  text-shadow:
    0 0 .1em var(--hover-link-shadow),
    0 0 .2em var(--hover-link-shadow),
    0 0 .3em var(--hover-link-shadow),
    0 0 .4em var(--hover-link-shadow),
    0 0 .5em var(--hover-link-shadow);
}

.viewport a:active {
  text-decoration: none;
  color: var(--side-strong);
  --active-link-shadow: var(--side-weak);
  text-shadow:
    0 0 .1em var(--active-link-shadow),
    0 0 .2em var(--active-link-shadow),
    0 0 .3em var(--active-link-shadow),
    0 0 .4em var(--active-link-shadow),
    0 0 .5em var(--active-link-shadow);
}
