/* color palette for testing */
:root {
  --background: #36454F;
  --text: #FFFFFF;
  --main-strong: #E0B0FF;
  --main-weak: #86608E;
  --side-strong: #FFE5B4;
  --side-weak: #B56917;
  --standout: #FF2400;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}
