#progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

#progress-bar {
  position: absolute;
  bottom: 4%;
  margin: 0 auto;
  left: 0;
  right: 0;
  pointer-events: none;
  --width-ratio: .60;
  --height-ratio: .006;
  --complete-bar-color: var(--main-strong);
  --pending-bar-color: var(--main-weak);
}
